<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketSubmitServlet</servlet-name>
        <servlet-class>p1.TicketSubmitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTicketServlet</servlet-name>
        <servlet-class>dao.ViewTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket</servlet-name>
        <servlet-class>model1.Ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketDAO</servlet-name>
        <servlet-class>dao.TicketDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>dao.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManageUsers</servlet-name>
        <servlet-class>admin.AdminManageUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>admin.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDAO</servlet-name>
        <servlet-class>admin.ManageDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginServlet</servlet-name>
        <servlet-class>adminloginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckerBean</servlet-name>
        <servlet-class>admin.CheckerBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>p1.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User1</servlet-name>
        <servlet-class>dao.User1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegistrationServlet</servlet-name>
        <servlet-class>AdminRegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminManageTickets</servlet-name>
        <servlet-class>admin.adminManageTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MTicketDAO</servlet-name>
        <servlet-class>admin.MTicketDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tickets</servlet-name>
        <servlet-class>dao.Tickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ticket1</servlet-name>
        <servlet-class>dao.Ticket1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketDAO1</servlet-name>
        <servlet-class>dao.TicketDAO1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminDAO</servlet-name>
        <servlet-class>admin.adminDAO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketSubmitServlet</servlet-name>
        <url-pattern>/p1/TicketSubmitServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTicketServlet</servlet-name>
        <url-pattern>/dao.ViewTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket</servlet-name>
        <url-pattern>/Ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketDAO</servlet-name>
        <url-pattern>/TicketDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminManageUsers</servlet-name>
        <url-pattern>/admin/AdminManageUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/ManageUsersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDAO</servlet-name>
        <url-pattern>/ManageDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckerBean</servlet-name>
        <url-pattern>/CheckerBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginServlet</servlet-name>
        <url-pattern>/adminloginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User1</servlet-name>
        <url-pattern>/User1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegistrationServlet</servlet-name>
        <url-pattern>/AdminRegistrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminManageTickets</servlet-name>
        <url-pattern>/admin/adminManageTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MTicketDAO</servlet-name>
        <url-pattern>/MTicketDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tickets</servlet-name>
        <url-pattern>/Tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ticket1</servlet-name>
        <url-pattern>/Ticket1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketDAO1</servlet-name>
        <url-pattern>/TicketDAO1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminDAO</servlet-name>
        <url-pattern>/adminDAO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
